.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  justify-content: center;
}

.icon-client {
  fill: getColor("icon-color");
  @include transition(fill);


  .clients-link:hover &,
  .clients-link:focus & {
    fill: getColor("accent-color");

  }
}

.clients-link {
  width: 210px;
  height: 90px;
  border: 1px solid getColor("icon-color");
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include transition(border-color);


  @include size(tablet){
    width: 226px;

  }
  @include size(desktop){
  width: 170px;}

  &:hover,
  &:focus {
    border-color: getColor("accent-color");
  }
}

.icon-block {
  margin-left: 30px;
  margin-top: 30px;

  @include size(mobile-only) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @include size(tablet){
    flex-basis: calc(100% / 3 - 30px);

    }

  @include size(desktop) {
    flex-basis: calc(100% / 6 - 30px);

    }
  }


