
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  @include size(desktop){
  padding-top: 94px;
  padding-bottom: 94px;}}

.features-item {
  box-sizing: border-box;
  width: 100%;
  margin-top: 30px;

  @include size(mobile) {
    width: 450px;
  }
  @include size(tablet-only) {
    width: 354px;
    &:nth-child(odd){
      margin-right: 30px;
    }
  }

  @include size(desktop) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &::before {

    height: 120px;
    background-color: getColor("light-background-color");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;

    @include size(mobile){
      width: 450px;
         }
    @include size(tablet){
      width: 354px;
    }
    @include size(desktop){
      width: 270px;
    }


  }
}

.attention::before {
  background-image: url(../images/icons/antenna.svg);
}

.punctuality::before {
  background-image: url(../images/icons/clock.svg);
}

.planning::before {
  background-image: url(../images/icons/diagram.svg);
}

.technology::before {
  background-image: url(../images/icons/astronaut.svg);
}
