
.filter-button-block {
  display: flex;
  width: 611px;
  margin-left: auto;
  margin-right: auto;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  border-width: 0;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  height: 38px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: getColor("black");
  background: getColor("light-background-color");
  white-space: nowrap;
  @include transition("background-color,color");


&:hover,
&:focus {
  color: getColor("white");
  background-color: getColor("accent-color");
  outline: none;
}}
