.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: getColor("dark-background-color");
  color: getColor("gray");
   .social-media-link {
    background-color: rgba(255, 255, 255, 0.1);
  }

   .social-media-icon {
    fill: getColor("white");
  }

}
.social-media-footer{
  padding-bottom: 60px;
  @include size(desktop) {
    margin-left: 70px;
    margin-top: 12px;
    padding-bottom: 0
  }
}

.subscribe {
  @include size(desktop){
  margin-left: 93px;
  margin-top: 12px;
}
  .common-button{
    @include size (tablet-only){
  display:block;
  margin-right: auto;
  margin-left: auto;}}}

.footer-flex {
  text-align: center;
  @include size(tablet-only) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @include size(desktop) {
    display: flex;
    text-align: left;
}}

.footer-contacts {
  margin-top: 20px;
  padding-bottom: 60px;
  @include size(desktop){
  padding-bottom: 0;
}}

.footer-title {
  display: inline-block;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
  color: getColor("white");
}

.sent-icon {
  fill: getColor("white");
  vertical-align: middle;
  margin-left: 10px;
  @include transition(fill);


.common-button:hover &,
.common-button:focus & {
  fill: getColor("accent-color")
}}


