.gallery {
  display: none;
  padding-bottom: 94px;
  @include size(desktop){
    display: flex;
  }
  .list-flex{
    padding-top: 50px;
  }
}

.gallery-item {
  position: relative;
  display: flex;

&:not(:last-child) {
  margin-right: 30px;
}}

.gallery-paragraph {
  font-weight: bold;
  line-height: 1.14;
  padding-top: 27px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  color: getColor('white');
  background-image: linear-gradient(
                  to left,
                  rgba(47, 48, 58, 0.8),
                  rgba(47, 48, 58, 0.8)
  );
  top: 227px;
  right: 0;
  bottom: 0;
  left: 0;
}