.header {
  background-color: getColor("white");
  border-bottom: 1px solid getColor("border-color");
  box-sizing: border-box;
}

.header-information {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  height: 80px;
  @include size(tablet){
    display: flex;
  }
}

.navigation-box {
  align-self: flex-end;
}

.navigation-menu {
  display: flex;
  margin-left: 93px;
  margin-bottom: 0;
}

.navigation-link {
  color: getColor("black");
}

.navigation-menu-item {
  &:not(:first-child) {
    margin-left: 50px;
  }
  .current {
  color: getColor("accent-color");
}}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: getColor("accent-color");
  margin-top: 28px;
}

.header-contacts {
  li + li {
    margin-top: 10px
  }

  margin-left: 50px;
  @include size(desktop) {
    display: flex;
    margin-left: auto;
    li + li {
      margin-left: 50px;
      margin-top: 0;
    }
  }
}

.icon-header {
  height: 16px;
  width: 20px;
  fill: getColor("icon-color");
  margin-right: 10px;
  vertical-align: text-bottom;
  @include transition(fill);

  .link:hover &,
  .link:focus &,
  {
    fill: getColor("accent-color");
  }

}
