.main-section {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/mobile/mobile-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--dark-background-color);
  width: 100%;
  outline: 1px solid var(--black);
  padding-top: 200px;
  padding-bottom: 280px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mobile/mobile-hero@2.jpg);
  }

  @include size(tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/tablet/tablet-hero.jpg);
    @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/tablet-hero@2x.jpg);
    }}



  @include size(desktop) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/desktop/desktop-hero.jpg);
    max-width: 1600px;
    @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/desktop/desktop-hero@2x.jpg);
    }}

  }




.hero {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include size(mobile) {
    width: 360px;
  }

  @include size(desktop) {
    width: 696px;
  }

  .common-button {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

