.section-team {
  background-color: var(--light-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-member {
  text-align: center;
  padding-bottom: 30px;
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
  0 2px 1px rgba(0, 0, 0, 0.2);

  &:nth-child(odd) {
    @include size(tablet-only) {
      margin-right: 30px;

    }
  }


  &:not(:last-child) {
    @include size(desktop) {
      margin-right: 30px;
    }
  }

}
.tm-photo{
  @include size(mobile){
    width:450px;
  }
  @include size(tablet){
    width: 354px;
  }
  @include size(desktop)
  {
    width: 270px;
  }
}

