.section-title {
  color: getColor('black');}

h1.section-title {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: getColor('white');
  margin: 0 0;
  letter-spacing: 0.06em;
}

h2.section-title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  @include size(desktop){
    font-size: 36px;
  }
}

h3.section-title {
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;

  @include size(mobile-only)
  {text-align: center}
}

h4.section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 30px;
  margin-bottom: 10px;
}


.job-title {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: getColor("black");
}

.project-title {
  font-size: 16px;
  line-height: 1.87;
}